@use "../variables" as *;

.main-btn {
  padding: 0.9rem 1.5rem;
  font-family: Public Sans;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: -0.12px;
  color: $third-color;
  background-color: #ba4270;
  border: inherit;
  border-radius: 24px;
  transition: background-color 0.4s ease;
}

.main-btn:hover {
  background-color: #da6d97;
}

.main-btn:active {
  background-color: #ba4270;
}
