@use "../variables" as *;

.header {
  &__main-wrapper {
    margin: 0 auto;
    max-width: 1150px;
    background-image: image-set(
      url("../../image/hero-background-desktop.png") 1x,
      url("../../image/hero-background-desktop@2x.png") 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }

  &__container {
    padding: 16px 12px;
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 3%;
    text-decoration: none;
  }

  &__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 0.5rem;
  }

  &__item-link {
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    color: $first-color;
    text-decoration: none;
  }

  &__item-link:hover {
    opacity: 0.8;
  }

  &__item-link:active {
    opacity: 0.5;
  }

  &__hamburger {
    display: none;
    width: 28px;
    height: 17px;
    border: inherit;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-color: #36536b;
    -webkit-mask-image: url("../../image/hamburger.svg");
    mask-image: url("../../image/hamburger.svg");
  }

  &__hamburger:hover {
    background-color: black;
  }

  &__hamburger:active {
    opacity: 0.5;
  }
}

@media (max-width: 600px) {
  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    &__right {
      display: none;
    }

    &__hamburger {
      display: inline-block;
    }

    &__list {
      margin: 0.5rem 0;
    }

    &__item {
      margin: 0.5rem;
    }

    &__nav--open &__right {
      padding-bottom: 1rem;
      display: block;
      text-align: center;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #d2dbe3;
      width: 100%;
    }

    &__nav--open &__list {
      flex-direction: column;
    }
  }
}
